Package: keydb-server
Source: keydb
Version: 5:0.0.0-1chl1~bionic1
Architecture: amd64
Maintainer: Ben Schermel <ben@eqalpha.com>
Installed-Size: 119
Depends: lsb-base (>= 3.2-14), keydb-tools (= 5:0.0.0-1chl1~bionic1)
Section: database
Priority: optional
Homepage: https://docs.keydb.dev/
Description: Persistent key-value database with network interface
 keydb is a key-value database in a similar vein to memcache but the dataset
 is non-volatile. keydb additionally provides native support for atomically
 manipulating and querying data structures such as lists and sets.
 .
 The dataset is stored entirely in memory and periodically flushed to disk.
