Package: keydb-tools
Source: keydb
Version: 5:0.0.0-1chl1~bionic1
Architecture: amd64
Maintainer: Ben Schermel <ben@eqalpha.com>
Installed-Size: 5908
Depends: adduser, libc6 (>= 2.17), libcurl4 (>= 7.16.2), libgcc1 (>= 1:3.0), libstdc++6 (>= 4.8.1), libuuid1 (>= 2.16), libssl1.1 (>= 1.1.1), zlib1g (>=1.2.11)
Breaks: keydb-server (<< 2:2.6.16-1)
Replaces: keydb-server (<< 2:2.6.16-1)
Section: database
Priority: optional
Homepage: https://docs.keydb.dev/
Description: Persistent key-value database with network interface (client)
 keydb is a key-value database in a similar vein to memcache but the dataset
 is non-volatile. keydb additionally provides native support for atomically
 manipulating and querying data structures such as lists and sets.
 .
 This package contains the command line client and other tools.
